.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  border-radius: 4px;
  user-select: none;
}

.container:hover {
  background-color: red;
}

.bordered {
  border: 1px solid #0f0f;
}
