.container {
  display: flex;
  height: 100%;
  align-items: center;

  z-index: 2500;
}

.center {
  width: 60%;
  max-width: fit-content;
  min-width: 0;
  margin: 0 10px;
  justify-content: center;
}

.actions-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
