.container {
  display: flex;
  height: 100%;
  align-items: center;
}

.right {
  width: 20%;
  min-width: min-content;
  flex-grow: 2;
  justify-content: flex-end;
}

.custom-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  z-index: 2500;
  -webkit-app-region: no-drag;
  height: 100%;
  margin-left: auto;
  min-width: 28px;
}

.window-controls-container {
  width: calc(138px / var(--zoom-factor, 1));
}
