.action-bar {
  height: 100%;
  white-space: nowrap;
}

.actions-container {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  list-style-type: none;
}

.action-item {
  height: 64px;
  line-height: 64px;
  font-size: 30px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.action-item-inner {
  line-height: 48px;
  flex: 1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  width: 100%;
  cursor: pointer;
}

.action-item-inner:hover {
  background-color: red;
}

.action-item-inner-icon {
  line-height: 1;
}

.action-item-inner-title {
  font-size: 11px;
  line-height: 11px;
}
