/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
:root {
  --activity-background-color: #414c68;
  --activity-color: #fff;
}

:root[data-theme=blue2] {
  --activity-background-color: blue;
  --activity-color: #fff;
}

:root[data-theme=grey] {
  --activity-background-color: grey;
  --activity-color: #fff;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

/* This selector targets the editable element (excluding comments). */
.ck-editor__editable_inline:not(.ck-comment__input *) {
  height: 100px;
  overflow-y: auto;
}
